@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
html , body{
    height: 100vh;
    width:100vw;
    background-color:black;
}
body{
    background:url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position:relative;
    
}
section#telefone{
    height:627px;
    width:311px;
    background-image:url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    
}
iframe#tela{
    position:relative;
    top:79px;
    left:21px;
    width: 269px;
    height: 473px;
}
section#redes-sociais{
    text-align: right;
    
}
section#redes-sociais img{
    /*eu botei display: block para os elementos ficarem na vertical mas não consegui botar na direita da tela*/
    margin:10px;
    width:50px;
    border-radius:50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.289);
    box-sizing: border-box;
    transition-duration: .4s ;
}
section#redes-sociais img:hover{
    border:2px solid rgba(255, 255, 255, 0.57);
    transition-duration: .5s;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.289);
    transition-duration: border .6s ;
}




